@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

body{
  padding: 0 135px;
  font-family: 'Mulish', sans-serif;
}

/* The nav section */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-div1{
  display: flex;
  flex-shrink: 0;
}

.nav-div2{
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 20px;
}


/* Banner style Start */
.banner-tilte{
  color: #FFF;
  text-align: center;
  font-size: 64px;
  font-weight: 800;
  padding-top: 100px;
}

.banner-description{
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding:0 220px;
}

.banner{
  width: 1170px;
  height: 500px;
  flex-shrink: 0;
  height: 500px;
  background-image: url(Group\ 13\ \(1\)\ \(1\).png);
  
}

.input-field{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 24px;
  background-color: rgba(255, 255, 255, 0.30);
}

.input{
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background-color: #fff;
  color: rgba(19, 19, 24, 0.50);
  font-size: 16px;
  font-weight: 400;

}

.search-btn ,.read-btn ,.see-more{
  color: #FFF;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #FF5400;
}
/* Banner style end */


/* Popular tour Section Style start */

.popular-tour{
  display: flex;
  margin-top: 130px;
  gap: 80px;
}

.tour-title{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}

.gray-text{
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.destination , .why-choose-us{
  text-align: center;
  margin: 100px 0;
}

.des-title ,.why-title{
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.des-descrip , .why-des{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.row{
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.card{
  display: flex;
  gap: 30px;
  padding: 30px;
}

.card-img{
  width: 64px;
  height: 64px;
}

.card-heading{
  color: #131318;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.card-p{
  color: #5A5A5D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}

.div-hotel{
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
}

.div-location{
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
}

.div-price{
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  margin: 0 auto;
  width: 573px;
  height: 284px;
  flex-shrink: 0;
}


/* A Simple Perfect Place To Get Lost Section */

.lost-title{
  color: #5A5A5D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.lost-ul{
  color: #131318;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
}

.lost-section{
  display: flex;
  gap: 30px;
  padding: 80px 10px;
}

/* 
Newsletter section */
.newletter{
  display: flex;
  gap: 100px;
  margin: 60px 0;
}

.newletter-title{
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.newletter-descrip{
  color: #5A5A5D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.news-letter-form{
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #FF5400;
}
.input-news{
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin: 20px 0;
}

.sub-btn{
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FF5400;
  margin: 20px 0 ;
}

.discount-btn> .pera11{
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.discount-btn>.pera12{
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.discount-btn{
  width: 324px;
  height: 120px;
  transform: rotate(-20deg);
  flex-shrink: 0;
  border-radius: 16px;
  background: #FF5400;
  position: relative;
  left: 340px;
  bottom: 200px;
}



/* footer section */
footer{
  background: rgba(19, 19, 24, 0.05);
}
.footer-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#footer-p{
  text-align: center;
}
.footer-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 60px;
  padding-bottom:50px;
}

.line{
  width: 872px;
  height: 2px;
  background: rgba(33, 33, 43, 0.404);
  margin: 0 auto;
}

.footer-p1{
  margin: 30px auto;
  text-align: center;
  color: #131318;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}